.login {
  width: 100%;
  background-color: rgb(233, 236, 236);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .change-form-text {
    font-size: 14px;
    color: rgb(145, 145, 145);
    text-align: center;
    margin-top: 30px;
  }
  .change-form-btn {
    margin-top: 20px;
    width: 340px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #A6ADB4;
    &:hover {
        color: #97999a;
    }
  }
  .ant-btn-link {
    color: #878a8d;
    &:hover {
      color: #555759;
    }
  }


}
.form-auth {
  background: #ffffff;
  position: relative;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
  .icons-form {
    text-align: center;
  }
  button {
    width: 100%;
  }
  .reset-password {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #A6ADB4;
    margin-bottom: 10px;
    &:hover {
      color: #777b80;
    }
  }
}