.create-task {
  border: 2px dashed #000;
  font-size: 20px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  height: 90px;
  justify-content: center;
}
.tasks {
  width: 100%;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  .list-task {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      margin: 3px;
      flex: 0 0 49%;
       max-width: 49%;
}
}
}