.list-card {
  background-color: rgb(233, 236, 236);
  width: 100%;
  .path {
      margin: 20px;
    font-size: 20px;
    color: #A6ADB4;
    a {
      color: #A6ADB4;
    }
  }
}

.table-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 700px;
  margin: 20px;
  .card {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    list-style: none;
    .icon-check {
      cursor: pointer;
      border-radius: 8px;
      z-index: 3;
      width: 24px;
      height: 24px;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      background-color: rgb(212, 212, 212);
    }
    .burger-card {
      display: inline-flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 8px;
      padding: 8px;
      position: relative;
      z-index: 2;
      box-sizing: border-box;
      border: 1px solid rgb(235, 235, 235);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
      cursor: pointer;
      flex-direction: row;
      transition: .3s ease;
      width: 60px;
      &:hover:before {
        content: '';
        position: absolute;
        border-radius: 8px;
        transition: .3s ease;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
        background: rgba(255, 255, 255, 0.56);
      }
    }
  }

}
