.finally-learn {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0px auto;
  margin-top: 20px;
}

.result-learn {
  margin-top: 70px;
  display: flex;
  text-align: center;
  flex-direction: column;
}